.logo {
    text-align: center;
    color: whitesmoke;
    -webkit-text-stroke: 1px gray;
}

.description {
    text-align: center;
    font-style: italic;
    font-weight: 100;
    margin: 1rem;
}

.form {
    text-align: center;
}

.form input {
    padding: 0.5rem;
}

.form button {
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.theList {
    margin: 2rem;
    display: grid;
    grid-auto-flow: row;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(10em, 15em));
    justify-content: center;
}

.listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px gray;
}

.listItemHeader {
    font-weight: 100;
}